.portfolio{
  background: $sec_bg;
  color: $sec__text--color;
  .portfolio__head{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding:  40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
      margin: 40px 0px;
    }
  }
  .portfolio__grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    gap:70px;
    padding-bottom: 40px;
    .portfolio--item{
      img{
      max-width: 400px;
     aspect-ratio: 2/3;

     object-fit: cover;
    }
  }
  }
}