.testimonials {
  .section__header {
    max-width: 800px;
    margin: auto;
    text-align: center;

    h5 {}

    h2 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 5em;

      .small {
        font-size: 30px;
      }
    }

  }

  .testimonials__grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 30px;
    .testimonial {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      border: 1px solid $primary__bg;
      .rating {
        display: flex;
      }
    }
  }
}